@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    /* landing page */
    .btn-primary {
        @apply flex gap-1.5 items-center bg-side-and-button px-2 sm:px-3 py-1.5 sm:py-2 rounded sm:rounded-[6px] text-xs sm:text-sm leading-[15px] sm:leading-[20px] font-medium hover:bg-card-and-hover text-text-primary;
    }

    .small-text {
        @apply text-xs leading-[14px] md:text-sm md:leading-[20px] text-text-primary font-medium;
    }

    .landing-primary-btn {
        @apply flex gap-1.5 items-center bg-side-and-button px-2 sm:px-[30px] py-2 sm:py-[15px] rounded-md text-xs sm:text-sm leading-[15px] sm:leading-[20px] font-medium hover:bg-card-and-hover text-text-primary;
    }

    .landing-secondary-btn {
        @apply flex gap-1.5 items-center bg-warning px-2 sm:px-[30px] py-2 sm:py-[15px] rounded-[6px] text-xs sm:text-sm leading-[15px] sm:leading-[20px] font-medium text-white hover:bg-[#EF4351];
    }

    .site-container {
        @apply max-w-[1240px] mx-auto px-4;
    }

    .landing-title {
        @apply text-[17px] md:text-[43px] leading-[26px] md:leading-[51px] text-text-primary font-semibold mb-5 md:mb-[50px] text-center mx-auto;
    }

    .landing-secondary-title {
        @apply text-sm md:text-[30px] md:leading-[36px] font-medium text-text-primary ;
    }

    .subtitle {
        @apply text-[10px] leading-3 md:text-[17px] md:leading-[26px] text-t-secondary ;
    }


    /* app  */
    .app-subtitle {
        @apply text-text-primary text-sm sm:text-[17px] font-semibold sm:leading-[26px] mb-[30px];
    }

    .app-text-primary {
        @apply font-medium text-xs md:text-sm text-text-primary;
    }

    .app-btn {
        @apply bg-side-and-button px-2 sm:px-3 py-1.5 sm:py-2 rounded sm:rounded-[6px] text-xs sm:text-sm leading-[15px] sm:leading-[20px] font-medium  hover:bg-card-and-hover text-text-primary;
    }


}

/* app */

.container {
    @apply w-10/12 mx-auto
}

.nav-container {
    scrollbar-width: none;
}

.table-wrapper {
    @apply overflow-x-auto rounded-lg border border-gray-200;
}

.table-wrapper .table {
    @apply w-full border-collapse bg-white text-sm;
}

.table-wrapper .table thead {
    @apply border-b border-gray-200;
}

.table-wrapper .table tbody {
    @apply divide-y divide-gray-200;
}

.table-wrapper .table thead tr {
    @apply bg-[#F9F7F3] text-left text-xs font-normal;
}

.table-wrapper .table tbody tr {
    @apply bg-white hover:bg-[#F9F7F3];
}

.table-wrapper .table thead tr th {
    @apply px-4 py-3 text-gray-600;
}

.table-wrapper .table tbody tr td {
    @apply px-4 py-3;
}

/* animation */
.animate-right {
    animation: vertical-movement-right 2s ease-in infinite;
}

.animate-left {
    animation: vertical-movement-left 2s ease-in infinite;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #f4e1b4;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(180, 135, 35);
    border-radius: 6px;
    border: 2px solid #f4e1b4;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(150, 110, 30);
}

body {
    scrollbar-color: rgb(180, 135, 35) #f4e1b4;
    scrollbar-width: thin;
}

.nav-item {
    @apply relative flex items-center text-white
}

.navbar-triangle {
    @apply absolute left-full w-0 h-0 border-t-[22px] border-b-[22px] border-l-[20px] border-t-transparent border-b-transparent group-hover:border-t-transparent  group-hover:border-b-transparent group-hover:border-warning
}

.navbar-triangle-left {
    @apply absolute left-0 w-0 h-0 border-t-[22px] border-b-[22px] border-l-[20px] border-t-transparent border-b-transparent group-hover:border-t-transparent  group-hover:border-b-transparent  z-[10] border-primary
}


@keyframes vertical-movement-right {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes vertical-movement-left {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0%);
    }
}
